name: flutter_circle_stepper
description: "A simple and functional circle stepper for Flutter to visualise progress."
version: 0.0.2
repository: https://github.com/alexwastl/flutter_circle_stepper

environment:
  sdk: '>=3.4.3 <4.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0
